In [1]:
import numpy as np
import pandas as pd

In [16]:
dataset = pd.read_csv("diabetes.csv")
dataset.dropna()
dataset.head(11)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,NaN,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,NaN,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,NaN,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0
8,NaN,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
9,NaN,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0
10,NaN,4.0,110.0,92.0,0.0,0.0,37.6,0.191,30.0,0.0

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [4]:
dataset.isnull().sum()

Unnamed: 0                  769
Pregnancies                   1
Glucose                       1
blood pressure                1
skin thickness                1
Insulin                       1
BMI                           1
DiabetesPedigreeFunction      1
Age                           1
Outcome                       1
dtype: int64

In [5]:
x=dataset.iloc[:-1,1:-1]
y=dataset.iloc[:-1,-1]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=25,random_state=0)

In [19]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=6,criterion='entropy',random_state=0)
classifier.fit(x_train, y_train)

y_pred=classifier.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score
acc_logreg2 = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy: ",acc_logreg2)

Accuracy:  88.0

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,r2_score,classification_report
logreg=LogisticRegression(solver='lbfgs',max_iter=1000)
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)
acc_logreg1 = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy: ",acc_logreg1)

Accuracy:  96.0

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
acc_knn = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy: ",acc_knn)

Accuracy:  80.0